@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/PPNeueMontreal-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontrealMono";
  src: url("/fonts/PPNeueMontrealMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontrealMono";
  src: url("/fonts/PPNeueMontrealMono-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontrealMono";
  src: url("/fonts/PPNeueMontrealMono-Medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  transition-property: background-color;
  transition-duration: 0.25s;
}

:root {
  color-scheme: light dark;

  --space-0-5: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 3.5rem;
  --space-8: 4rem;
  --space-9: 4.5rem;
  --space-10: 5rem;

  --font-weight-bold: 700;

  --font-size-1: 1rem;
  --font-size-1-5: 1.25rem;
  --font-size-2: 1.5rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;

  --color-dark-0: hsl(220, 36%, 12%);
  --color-dark-1: hsl(220, 30%, 16%);
  --color-light-0: hsl(0, 0%, 98%);
  --color-light-1: hsl(0, 0%, 95%);

  --color-primary: var(--color-light-0);
  --color-secondary: var(--color-light-1);
  --color-inverse: var(--color-dark-0);

  --color-background: var(--color-primary);
  --color-text: var(--color-inverse);

  --link-decoration: underline 2px;
  --link-offset: 2px;
  --link-hover: dotted;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--color-dark-0);
    --color-secondary: var(--color-dark-1);
    --color-inverse: var(--color-light-0);
  }
}

@supports (color-scheme: dark) {
  :root {
    --color-primary: light-dark(var(--color-light-0), var(--color-dark-0));
    --color-secondary: light-dark(var(--color-light-1), var(--color-dark-1));
    --color-inverse: light-dark(var(--color-dark-0), var(--color-light-0));
  }

  :root[data-theme="light"] {
    color-scheme: light;
  }

  :root[data-theme="dark"] {
    color-scheme: dark;
  }
}

@media screen and (width > 800px) {
  :root {
    --font-size-1: 1.25rem;
    --font-size-1-5: 1.5rem;
    --font-size-2: 1.75rem;
    --font-size-3: 2rem;
    --font-size-4: 2.5rem;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  font-family: "NeueMontreal", Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  background: var(--color-background);
  color: var(--color-text);
}

main {
  margin-block-end: var(--space-7);
}

@media screen and (width > 800px) {
  main {
    margin-block-end: var(--space-10);
  }
}

code {
  font-family: "NeueMontrealMono", monospace;
}

img {
  background-color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "NeueMontrealMono", monospace;
  letter-spacing: 0em;
}

i {
  font-style: italic;
}

a {
  text-decoration: var(--link-decoration);
  text-underline-offset: var(--link-offset);
  color: var(--color-text);
  outline-offset: 0.5rem;
  outline: 2px dashed transparent;
}

a:hover {
  text-decoration-style: var(--link-hover);
}

a:focus-visible {
  outline: 2px dashed var(--color-text);
}

.external-link::after {
  content: " ↗";
}

p {
  max-width: 75ch;
}

.disclaimer p {
  font-size: 0.75em !important;
}

.hr-dot {
  border: 0;
  display: inline-block;
  border-left: 0.25rem solid var(--color-text);
  height: 0.25rem;
  margin: 0;
}
