/* .projectContent {
	h1 {
		font-weight: bold;
		font-size: var(--font-size-2);
		margin-block-end: var(--space-2);
	}

	h2 {
		font-weight: bold;
		font-size: var(--font-size-1-5);
		margin-block-end: var(--space-2);
	}

	h3 {
		font-weight: bold;
		font-size: var(--font-size-1);
		font-weight: var(font-weight-bold);
		margin-block-end: var(--space-2);
	}

	p {
		font-size: var(--font-size-1);
		margin-block-end: var(--space-2);
		line-height: 1.25;
	}

	hr {
		color: var(--color-text);
		margin: var(--space-4) 0;
	}

	@media screen and (width > 800px) {
		p {
			font-size: var(--font-size-1);
		}
	}
} */
