---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

// const allProjects = await Astro.glob("../pages/projects/*.mdx");
interface Project {
  frontmatter: {
    order: string;
    client: string;
    name: string;
    desc: string;
    image: string;
  };
  url: string;
}

const allProjects: Project[] = Object.values(
  import.meta.glob<Project>("../pages/projects/*.mdx", { eager: true }),
);

allProjects.sort(
  (a, b) => Date.parse(a.frontmatter.order) - Date.parse(b.frontmatter.order),
);
---

<Layout title="Max Elkins">
  <header>
    <div class="title">
      <h1>Max Elkins</h1>
      <h2>Senior Product Designer pushing pixels and commits.</h2>
    </div>
    <div class="links">
      <a href="mailto:hello@maxelkins.me">hello@maxelkins.me</a>
      <hr class="hr-dot" />
      <a href="https://gitlab.com/maxelkins">GitLab</a>
      <hr class="hr-dot" />
      <a href="https://github.com/maxelkins">GitHub</a>
    </div>
  </header>
  <main>
    <section>
      <div class="projects">
        {
          allProjects.map((project) => (
            <>
              <ProjectCard
                client={project.frontmatter.client}
                project={project.frontmatter.name}
                desc={project.frontmatter.desc}
                href={project.url}
                image={project.frontmatter.image}
                altText=""
              />
            </>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    margin-block-end: var(--space-6);
  }

  .title h1 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
    margin-block-end: var(--space-1);
  }

  .title h2 {
    font-weight: normal;
    font-size: var(--font-size-1-5);
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    align-items: center;
  }

  section {
    padding-block-start: var(--space-6);
    border-block-start: 2px solid var(--color-text);
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-8);
  }

  @media screen and (max-width: 800px) {
    header {
      margin-block-end: var(--space-4);
    }

    section {
      padding-block-start: var(--space-4);
    }

    .projects {
      grid-template-columns: 1fr;
    }
  }
</style>
