---
import ThemeSelect from "./ThemeSelect.astro";

const year = new Date().getFullYear();
---

<footer>
  <div class="footer__details">
    <div>© {year} Max Elkins</div>
    <hr class="hr-dot" />
    <a class="external-link" href="https://gitlab.com/maxelkins/maxelkins-me"
      >View source</a
    >
  </div>
  <ThemeSelect />
</footer>

<style is:global>
  footer {
    padding-block-start: var(--space-3);
    border-block-start: 2px solid var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2);
  }

  .footer__details {
    display: flex;
    gap: var(--space-2);
    align-items: center;
  }

  ::part(toggle-theme-button) {
    transition: border-color 0.2s;
    /* background-color: var(--color-secondary); */
    border: 1px solid color-mix(in hsl, var(--color-text), transparent 80%);
    border-radius: 10%;
    outline-offset: 0.5rem;
  }

  ::part(toggle-theme-button):focus-visible {
    outline: 2px dashed var(--color-text);
  }

  ::part(toggle-theme-button):hover {
    border: 1px solid var(--color-text);
  }
</style>
