---
import { Image } from "astro:assets";

interface Props {
  image?: string;
  altText: string;
}

const { image, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,webp}",
);
if (image && !images[image])
  throw new Error(
    `"${image}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif,webp}"`,
  );
---

<Image src={images[image]()} alt={altText} />
<picture>
  <source media="(min-width:800px)" srcset={images[image]()} />
  <img src={images[image]()} alt="Flowers" style="width:auto;" />
</picture>

<style>
  img {
    width: 100%;
    height: auto;
  }
</style>
