---
const year = new Date().getFullYear();
---

<div class="bottom-nav">
  <a href="/"><span>← </span><span class="back">Back</span></a>
</div>

<style>
  .bottom-nav {
    font-family: "NeueMontrealMono", monospace;
    font-size: var(--font-size-1-5);
    margin-block-end: var(--space-4);
    font-weight: var(--font-weight-bold);
  }

  .bottom-nav a {
    text-decoration: none;
  }

  .back {
    text-decoration: var(--link-decoration);
    text-underline-offset: var(--link-offset);
  }

  .bottom-nav a:hover .back {
    text-decoration-style: var(--link-hover);
  }
</style>
