---
import { Image } from "astro:assets";

interface Props {
  image?: string;
  altText: string;
}

const { image, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,webp}",
);

if (image && !images[image])
  throw new Error(
    `"${image}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif,webp}"`,
  );
let imageMobile = image ? image.replace(".", "-mobile.") : null;
const imagesMobile = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*-mobile.{jpeg,jpg,png,gif}",
);

if (imageMobile && !imagesMobile[imageMobile]) imageMobile = null;
---

<section>
  <div>
    <slot />
  </div>

  {
    image && (
      <>
        <Image
          class={`desktop-image ${imageMobile ? "" : "desktop-fallback"}`}
          src={images[image]()}
          alt={altText}
          loading="eager"
        />
        {imageMobile && (
          <Image
            class="mobile-image"
            src={imagesMobile[imageMobile]()}
            alt={altText}
            loading="eager"
          />
        )}
      </>
    )
  }
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  div {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .desktop-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }

  @media (max-width: 800px) {
    .desktop-image {
      display: none;
    }

    .desktop-fallback {
      display: block;
    }

    .mobile-image {
      display: block;
    }
  }
</style>
