---
import { Image } from "astro:assets";

interface Props {
  image?: string;
  altText: string;
}

const { image, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,webp}",
);
if (image && !images[image])
  throw new Error(
    `"${image}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif,webp}"`,
  );
---

<section>
  <div>
    <slot />
  </div>

  {image && <Image src={images[image]()} alt={altText} />}
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-2);
  }

  div {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (width > 800px) {
    section {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: var(--space-4);
    }
  }
</style>
