---
import { Image } from "astro:assets";
interface Props {
  project: string;
  client: string;
  desc: string;
  image: string;
  altText: string;
  href: string;
}

const {
  client = "project client",
  project = "project name",
  desc = "project description",
  image,
  altText,
  href,
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[image])
  throw new Error(
    `"${image}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif,webp}"`,
  );
---

<a href={href} class="projectCard">
  <div class="text">
    <h3 class="project-heading">
      <span class="project-name">{project}</span>
      <span class="visually-hidden">, for</span>
      <span class="project-client"
        ><span aria-hidden="true">↳ </span>{client}</span
      >
    </h3>

    <p class="description">{desc}</p>
  </div>
  <Image src={images[image]()} alt={altText} />
</a>

<style>
  .projectCard {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4);
    text-decoration: none;
  }

  .projectCard .project-name {
    text-decoration: var(--link-decoration);
    text-underline-offset: var(--link-offset);
  }

  .projectCard:hover .project-name {
    text-decoration-style: var(--link-hover);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  .project-heading {
    line-height: 1.5;
    align-self: start;
    font-weight: var(--font-weight-bold);
  }

  .project-name {
    font-size: var(--font-size-1-5);
    text-decoration: underline solid 2px;
    display: block;
    margin-block-end: var(--space-0-5);
  }

  .client {
    display: block;
    text-decoration: none;
    font-size: var(--font-size-1);
  }

  .description {
    line-height: 1.25;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: left top;
  }

  @media screen and (width > 800px) {
    .projectCard {
      display: grid;
      grid-template-columns: 2fr 3fr;
    }
  }
</style>
