---
/* https://astro-tips.dev/recipes/dark-mode/
 *
 * This button will switch between the default theme and the opposite of that
 *
 * If the default theme is auto it will toggle between auto and the opposite of the systemTheme
 *
 * If the default theme is not auto it will never enter auto mode
 *
 * Set the themeIconRelationship to determine the behavior of the icon, match will have moon icon displayed while dark theme is active
 *
 */

type Props = {
  themeIconRelationship?: "match" | "opposite" | undefined;
};

const { themeIconRelationship = "opposite" } = Astro.props;
---

<theme-toggle-button></theme-toggle-button>

<script is:inline data-theme-icon-relationship={themeIconRelationship}>
  if (!customElements.get("theme-toggle-button")) {
    const themeIconRelationship = document.currentScript.getAttribute(
      "data-theme-icon-relationship",
    );
    class ThemeToggleButton extends HTMLElement {
      constructor() {
        super();
        this.attachShadow({ mode: "open" });
        this.toggleTheme = this.toggleTheme.bind(this);
        this.updateThemeIconAndAriaLabel =
          this.updateThemeIconAndAriaLabel.bind(this);
      }

      connectedCallback() {
        this.render();
        this.bindEvents();
        this.updateThemeIconAndAriaLabel();
      }

      disconnectedCallback() {
        this.removeEventListener("click", this.toggleTheme);
        document.removeEventListener(
          "theme-changed",
          this.updateThemeIconAndAriaLabel,
        );
      }

      render() {
        this.shadowRoot.innerHTML = `
                <style>
                  :host {
                align-self: start;
                  }
                    button {
                        color: inherit;
                        width: 2.5rem;
                        height: auto;
                        cursor: pointer;
                        background-color: transparent;
                        padding: 0.5rem;

                    }
                    svg {
                      stroke: currentColor;
                      fill: none;
                      stroke-width: 1.5;
                    }
                    svg path {
                      stroke-linecap: round;
                      stroke-linejoin: round;
                    }
                </style>
                <button part="toggle-theme-button">
                  <svg viewBox="0 0 24 24" id="moon" aria-hidden="true">
                    <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
                  </svg>
                  <svg
                    viewBox="0 0 24 24"
                    id="sun"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    fill="none"
                    ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path
                      d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path
                      d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path
                      d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
                      d="m19.07 4.93-1.41 1.41"></path></svg
                  >
                </button>
                `;
        this.updateThemeIconAndAriaLabel();
      }

      bindEvents() {
        this.addEventListener("click", this.toggleTheme);
        document.addEventListener("theme-changed", (e) =>
          this.updateThemeIconAndAriaLabel(
            e.detail.currentTheme,
            e.detail.systemTheme,
          ),
        );
      }

      toggleTheme() {
        const currentTheme = theme.getTheme();
        const defaultTheme = theme.getDefaultTheme();
        const systemTheme = theme.getSystemTheme();
        let newTheme;

        if (defaultTheme === "auto") {
          newTheme =
            currentTheme === "auto" || currentTheme === systemTheme
              ? systemTheme === "dark"
                ? "light"
                : "dark"
              : "auto";
        } else {
          newTheme =
            currentTheme === defaultTheme
              ? defaultTheme === "dark"
                ? "light"
                : "dark"
              : currentTheme === "auto"
                ? systemTheme === "dark"
                  ? "light"
                  : "dark"
                : defaultTheme;
        }

        theme.setTheme(newTheme);
        this.updateThemeIconAndAriaLabel(newTheme, systemTheme);
      }

      updateThemeIconAndAriaLabel(
        currentTheme = theme.getTheme(),
        systemTheme = theme.getSystemTheme(),
      ) {
        const sunIcon =
          themeIconRelationship === "opposite"
            ? this.shadowRoot.querySelector("#sun")
            : this.shadowRoot.querySelector("#moon");
        const moonIcon =
          themeIconRelationship === "opposite"
            ? this.shadowRoot.querySelector("#moon")
            : this.shadowRoot.querySelector("#sun");

        sunIcon.style.display =
          currentTheme === "dark" ||
          (currentTheme === "auto" && systemTheme === "dark")
            ? "block"
            : "none";
        moonIcon.style.display =
          currentTheme === "light" ||
          (currentTheme === "auto" && systemTheme === "light")
            ? "block"
            : "none";
        const newMode =
          currentTheme === "dark" ||
          (currentTheme === "auto" && systemTheme === "dark")
            ? "light"
            : "dark";
        this.shadowRoot
          .querySelector("button")
          .setAttribute(
            "aria-label",
            `Theme toggle button: click to activate ${newMode} mode`,
          );
      }
    }

    customElements.define("theme-toggle-button", ThemeToggleButton);
  }
</script>
