---
import "../styles/reset.css";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import ThemeManager from "../components/ThemeManager.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Senior Product Designer pushing pixels and commits."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ThemeManager defaultTheme="auto" />
  </head>
  <body>
    <slot />
  </body><Footer />
</html>

<style>
  body {
    margin: auto;
    padding: var(--space-3);
    max-width: 1600px;
    font-size: var(--font-size-1);
    line-height: 1.25;
  }

  @media screen and (width > 800px) {
    body {
      padding: var(--space-6);
    }
  }
</style>
