---
import Layout from "./Layout.astro";
import BottomNav from "../components/ProjectBottomNav.astro";
const { frontmatter } = Astro.props;

import "../styles/markdown.css";
---

<Layout title=`Max Elkins - ${frontmatter.name}`>
  <header>
    <nav>
      <a href="/"><span>← </span><span class="back">Back</span></a>
    </nav>
    <div class="headerText">
      <h1>{frontmatter.name}</h1>
    </div>
  </header>
  <main>
    <div class="projectContent">
      <slot />
    </div>
  </main>
  <BottomNav />
</Layout>

<style>
  nav {
    font-family: "NeueMontrealMono", monospace;
    font-size: var(--font-size-1-5);
    margin-block-end: var(--space-4);
    font-weight: var(--font-weight-bold);
  }

  nav a {
    text-decoration: none;
  }

  .back {
    text-decoration: var(--link-decoration);
    text-underline-offset: var(--link-offset);
  }

  nav a:hover .back {
    text-decoration-style: var(--link-hover);
  }

  .headerText {
    margin-block-end: var(--space-3);
  }

  .headerText h1 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
    margin-block-end: var(--space-1);
  }

  .projectContent {
    h1 {
      font-weight: bold;
      font-size: var(--font-size-2);
      margin-block-end: var(--space-2);
    }

    h2 {
      font-weight: bold;
      font-size: var(--font-size-1-5);
      margin-block-end: var(--space-2);
    }

    h3 {
      font-weight: bold;
      font-size: var(--font-size-1);
      font-weight: var(font-weight-bold);
      margin-block-end: var(--space-2);
    }

    p {
      font-size: var(--font-size-1);
      margin-block-end: var(--space-2);
      line-height: 1.25;
    }

    hr {
      color: var(--color-text);
      margin: var(--space-7) 0;
    }

    @media screen and (width > 800px) {
      p {
        font-size: var(--font-size-1);
      }

      hr {
        margin: var(--space-10) 0;
      }
    }
  }
</style>
